.header {
    background-color: #f7c600;
    height: 90px;
}

.live-news {
    background-color: #666;
    padding: 15px 0px;
    font-weight: bold;
    font-size: 1.3em;
}

.news-container {
    padding: 10px 10px;
    border: 1px solid rgba(0,0,0,.1);
}

.principal-new {
    position: absolute;
    bottom: 0px;
    padding-left: 15px;
    width: 40%;
}

.headline > .subtitle {
    font-size:  1.1em;
}

.headline > .title {
    font-size: 1.6em;
}

.subtitle {
    font-family: "Noto Serif SC";
    font-size: 1em;
    line-height: 3;
}

.title {
    font-family: "Noto Serif SC";
    font-size: 1.2em;
    line-height: 1;
    font-weight: bold;
}

.author {
    font-family: "Noto Serif SC";
    font-size: .7em;
    line-height: 3;
}

.black {
    color: #333;
}

.white {
    color: #fff;
}